header {
  background-color: #40e0b5;
  padding: 15px 0;
}

.flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  img {
    width: 70%;
  }
}
