.cinemas-section {
  .container {
    z-index: 1;
  }
  h2{
    padding-bottom: 30px;
  }

  .cinemas-list{
    list-style: none;
    padding: 0;
    min-width: 220px;
    a {
      color: black;
      font-size: 17px;
      text-decoration: none;
      opacity: 1;
      transition: .4s;
      padding: 5px;
      &:hover{
        font-style: italic;
        padding-left: 10px;
      }
    }
  }
}
