app-main {
  flex: 1;
}

.details {
  padding: 50px 0;
  background-color: #daf9f1;
  //background-image: url("../../assets/images/cinema-background.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: 50% 20%;

  .item {
    flex-basis: calc(100% / 3);
    padding: 10px 5px;
    position: relative;

    a {
      width: 100%;
      height: 150px;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 10%;
      margin: 0 auto;
      opacity: .7;
      transition: .5s;
    }

    .title {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      left: 0;
      text-align: center;
      right: 0;
      color: #c7c7cc;
      top: -30%;
      transition: .5s;
      font-size: 18px;
      font-weight: bold;
      background: rgba(0,0,0,0.6);
      margin-left: 5px;
      margin-right: 5px;
    }

    &:hover {
      a {
        opacity: 1;
      }
      .title {
        opacity: 1;
        top: 50%;
      }
    }
  }
}
