<div class="reservation-section" [ngClass]="{'cinema-background': isReserved}">
  <div class="container flex-container">
    <div class="detail-block" *ngIf="!isReserved">
      <div class="select-film">
        <label for="selectedFilm">
          Select Your film
        </label>
        <select id="selectedFilm" [(ngModel)]="selectedFilm">
          <option *ngFor="let film of films" [ngValue]="film.title">
            {{film.title}}
          </option>
          select</select>
      </div>
      <div class="date-film">
        <label for="dateFilm">Choose date</label>
        <input type="date" id="dateFilm" [(ngModel)]="dateFilm">
      </div>
      <div *ngIf="seatCounter > 0">
        <p>Ticket: {{seatCounter}}</p>
        <p>Price: {{seatCounter * filmPrice | currency: 'USD':true:'1.2-2'}}</p>
      </div>

      <div *ngIf="seatCounter > 0 && dateFilm && selectedFilm">
        <button (click)="checkFilmReservation()"
                [disabled]="[currentTime | date: 'yyyy-MM-dd'] > [dateFilm | date: 'yyyy-MM-dd']" class="btn-reserved">
          Reserve!
        </button>
        <span [ngStyle]="{'color': 'red', 'text-align': 'center', 'display': 'block'}"
              *ngIf="[currentTime | date: 'yyyy-MM-dd'] > [dateFilm | date: 'yyyy-MM-dd'] && dateFilm">Check correctly film day!</span>
      </div>
    </div>
    <div class="seats-block" *ngIf="!isReserved">
      <div class="select-seat">
        <div class="seats-row" *ngFor="let row of seatRows">
          <p class="p-row">{{row}}</p>
          <button #seat (click)="seat.classList.contains('reserved') ? reservedSeat($event) : unreservedSeat($event)"
                  *ngFor="let i of seatSeries"
                  [disabled]="!selectedFilm && !dateFilm">
            {{i}}
          </button>
        </div>
      </div>
    </div>
    <div class="reservation-details" *ngIf="isReserved">
      <p>Film: {{selectedFilm}}</p>
      <p>Date: {{dateFilm}}</p>
      <p>Tickets: {{seatCounter}}</p>
      <p>Price: {{seatCounter * filmPrice | currency: 'USD':true:'1.2-2'}}</p>
    </div>
  </div>
</div>
