/* You can add global styles to this file, and also import other style files */

*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Gadugi;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}


.btn-primary{
  background-color: #40e0b5;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: #9f9fa7;
  transition: .3s;

  &:hover{
    background-color: #168a6b;
    color: #daf9f1;
  }
}

.cinema-background{
  background-image: url('assets/images/cinema-background.jpg');
  max-width: 100%;
  height: 673px;
  background-size: cover;
  background-position: 50% 13%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.5);}
}
